<%= turbo_frame_tag :modal do %>

  <div data-controller="turbomodal" class="modal-backdrop" data-action="turbo:submit-end->turbomodal#submitEnd">
    <div class="modal">
      <h1 class="modal-header">Editing note</h1>
      <div class="modal-content">
        <%= render "form", note: @note, class: "modal-content" %>
      </div>
      
      <br>
      
      <div>
        <%= link_to 'Cancel', '#', data: { action: 'click->turbomodal#cancelModal' } %>
      </div>
    </div>
  </div>
<% end %>
