Hello World!

<body class="container">
<div class="box">
<div class="body"><span class="title">Notepad</span>
</div>


<%# <%= link_to 'Home', root_path %> 
<%# <%= link_to 'About', about_path %>
<%# <%= link_to 'Homework', homework_path %>
</div>


</body>