<body class="container">
    <div class="box">

            <div class="header">
                <h1>Notepad</h1>
                <div class="header">
                    <h3>Inspired by:</h3>
                    <%= image_tag("inspirationLogo.svg") %>
                </div>
            </div>
            
            <hr/>
                
            <div id="notes" class="notes">
                <div class="createNote">
                    <div class="topBar">
                            <%= link_to "+", new_note_path,  data: { turbo_frame: "modal" } %>                       
                    </div>

                    <div class="noteContent">
                        <h2>Adicionar Nota</h2>
                        <p>Criar uma nova nota</p>
                    </div>                    
                </div>

                <% @notes.each do |note| %>
                    <%= render 'notes/note', note: note %>
                <% end %>
            </div>


    </div>
</body>