/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --lime: #bef264;
  --darkSlate: #0f172a;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--darkSlate);
}

.container {
  width: 100%; /* largura desejada */
  height: 100vh;
  margin: 0 auto; /* Isso centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 80%;
  height: 90%;
  /* background-color: gray; */

  display: flex;
  flex-direction: column;
}

.container .box .body {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--lime);
  width: 100%;
  height: 100%;
  background-color: var(--darkSlate);
}

.container .box .title {
  color: var(--lime);
  font-size: 2rem;
  font-weight: 600;
}
