/*
  *= require modal
  *= require form
*/

/* Variáveis CSS */
:root {
  --lightGray: #e2e8f0;
  --lime: #bef264;
  --darkSlate: #0f172a;
  --slate: #1e293b;
  --lightSlate: #334155;
}

/* Estilos Globais */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--darkSlate);
  scrollbar-color: var(--lime) var(--slate);
}

span {
  color: var(--lightGray);
  font-weight: 300;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--lime);
  font-size: 0.8rem;
}

h1 {
  color: var(--lime);
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  color: var(--lime);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  color: var(--lightSlate);
  font-size: 1rem;
  font-weight: 300;
}

p {
  color: white;
  font-size: 1rem;
  margin: 0;
}

hr {
  border-color: var(--lightSlate);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

textarea {
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 0 0;
  border: none;
  background-image: linear-gradient(
    180deg,
    var(--lightSlate) 50%,
    var(--slate)
  );
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: 300;
}

input {
  padding: 0 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Container Principal */
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Box dentro do Container */
.container .box {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.container .box .notes {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: start;
  overflow-x: auto;
}

.container .box .notes::-webkit-scrollbar {
  width: 8px;
}

.container .box .notes::-webkit-scrollbar-thumb {
  background-color: var(--lime);
  border-radius: 4px;
}

.container .box .notes::-webkit-scrollbar-track {
  background-color: var(--slate);
}

.container .box .createNote {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(
    180deg,
    var(--lightSlate) 50%,
    var(--slate)
  );
  height: 250px;
  width: 350px;
  text-align: start;
  border-radius: 6px;
}

.container .box .createNote .topBar {
  display: flex;
  width: 94%;
  height: 10%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: var(--lime);
}

.noteContent {
  display: flex;
  width: 94%;
  height: 90%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0 10px; /* Adiciona espaçamento horizontal */
  gap: 1rem;
  overflow-y: auto;
  scrollbar-color: var(--lime) var(--slate);
}

.noteContent::-webkit-scrollbar {
  width: 8px;
  margin-left: 0.5rem;
}

.noteContent::-webkit-scrollbar-thumb {
  background-color: var(--lime);
  border-radius: 4px;
}

.noteContent::-webkit-scrollbar-track {
  background-color: var(--slate);
}

/* Nota dentro do Box */
.container .box .note {
  margin-top: 1rem;
  height: 250px;
  width: 350px;
  text-align: start;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(180deg, var(--slate) 50%, var(--darkSlate));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .box .note .topBar {
  display: flex;
  width: 94%;
  height: 10%;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: var(--lime);
}

.container .box .button:hover {
  background-color: var(--lightSlate);
}

.buttons {
  display: flex;
  gap: 0.6rem;
}

.add-button {
  background-color: var(--lime);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgba(190, 242, 100, 0.6);
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.edit-button {
  background-color: var(--lightSlate);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: var(--lightSlate);
  opacity: 0.8;
}
